@model ControleEmpregados.Models.Empregado

@{
     ViewData["Title"] = "Create";
    Layout = "_Layout1";
}

<div class="card-block">
    <div class="card-header text-white bg-danger text-center h2">Registrando um novo empregado</div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MATRICULA" class="control-label"></label>
                <input asp-for="MATRICULA" class="form-control" />
                <span asp-validation-for="MATRICULA" class="text-danger"></span>
            </div>
                       <div class="form-group">
                <label asp-for="NOME" class="control-label"></label>
                <input asp-for="NOME" class="form-control" />
                <span asp-validation-for="NOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATA_DE_NASCIMENTO" class="control-label"></label>
                <input asp-for="DATA_DE_NASCIMENTO" class="form-control" />
                <span asp-validation-for="DATA_DE_NASCIMENTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FUNCAO" class="control-label"></label>
                <input asp-for="FUNCAO" class="form-control" />
                <span asp-validation-for="FUNCAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESCOLARIDADE" class="control-label"></label>
                <input asp-for="ESCOLARIDADE" class="form-control" />
                <span asp-validation-for="ESCOLARIDADE" class="text-danger"></span>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
    <div class="card-footer bg-dark text-center text-white">
        Informe os dados acima e/ou clique em um dos botões de ação
    </div>
</div>

@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

