@model ControleEmpregados.Models.Empregado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section Styles {
   <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<!-- Bootstrap-Iconpicker -->
<link rel="stylesheet" href="dist/css/bootstrap-iconpicker.min.css"/>
}
<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h2">Exibindo um empregado existente</div>
    <div class="card-body">     
        <div class="form-group">
            
            <label asp-for="MATRICULA" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                       <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                          </span>
                </div>
                <input asp-for="MATRICULA" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="NOME" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="NOME" class="form-control" disabled="disabled" />
            </div>
              <label asp-for="DATA_DE_NASCIMENTO" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="DATA_DE_NASCIMENTO" class="form-control" disabled="disabled" />
            </div>
             <label asp-for="FUNCAO" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="FUNCAO" class="form-control" disabled="disabled" />
            </div>
             <label asp-for="ESCOLARIDADE" class="control-label"></label>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="ESCOLARIDADE" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
        <hr>
    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.EmpregadoID">Alterar</a> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
        <hr>
        <hr>
       
          </div>
         </div>
        </div>
      </div>
</nav>
