
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
           <a class="nav-link active" asp-controller="Empregado" asp-action="Index">
            <img class="mx-auto d-block w-200" src="~/images/Banner.jpg" alt="Controle de Funcionários">
            </a>
        </div>
   
    </div>
</div>