
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="mx-auto d-block w-200" src="~/images/Fundo.jpg" alt="Caixa Economica Federal">
        </div>
   
    </div>
</div>